<h1 mat-dialog-title>Настройки генерации</h1>
<div mat-dialog-content>
  <section class="settings-item mat-typography">
    <mat-form-field>
      <input
        [(ngModel)]="tasksCount"
        matInput
        type="number"
        min="1"
        max="100"
        required
        placeholder="Количество генерируемых вариантов заданий" />
    </mat-form-field>
  </section>
  <section class="settings-item mat-typography">
    <mat-form-field>
      <input
        [(ngModel)]="nodesCount"
        matInput
        type="number"
        min="6"
        max="16"
        required
        placeholder="Количество вершин в графе" />
    </mat-form-field>
  </section>
  <section class="settings-item mat-typography">
    <mat-checkbox [(ngModel)]="directedGraph">Направленный граф</mat-checkbox>
    <mat-checkbox [(ngModel)]="weightedGraph">Взвешенный граф</mat-checkbox>
    <p>Настройки генерации графов</p>
  </section>
  <section class="settings-item mat-typography">
    <mat-checkbox [(ngModel)]="developerMode">Режим разработчика</mat-checkbox>
    <p>Разрешает подгружать сторонние задания из текущий папки</p>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">ОК</button>
  <button mat-button (click)="cancel()">Отмена</button>
</div>
