<div class="layout" *ngIf="loaded">

  <mat-toolbar color="primary" class="toolbar-handle">
    <button *ngIf="!isMenuScreen()" (click)="goHome()" mat-button color="secondary">
      <mat-icon>arrow_back</mat-icon>
      Назад
    </button>
    <span *ngIf="isMenuScreen()">Генератор заданий по теории графов</span>
    <div class="spacer"></div>
    <button (click)="maximize()" mat-icon-button color="secondary">
      <mat-icon>web_asset</mat-icon>
    </button>
    <button (click)="quit()" mat-icon-button color="secondary">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content" [class.centered]="isMenuScreen()">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar color="primary">
    <p>Используйте перетаскивание для изменения положения вершин</p>
    <div class="spacer"></div>
    <button mat-button (click)="openSettings()">
      <mat-icon>settings</mat-icon>
      Настройки
    </button>
  </mat-toolbar>

</div>
