<button class="generate" (click)="saveAll()" mat-raised-button color="primary">Сгенерировать все варианты и решения</button>
<mat-card class="graph-card" *ngFor="let graph of graphs; let i = index">
  <mat-card-header>
    <mat-card-title>Вариант {{ i + 1 }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <graph-component
      [graph]="graph"
      [width]="canvasWidth"
      [height]="canvasHeight"
      [weighed]="weighted"
      [directed]="directed"
      (initCanvas)="saveCanvas(i, $event)"></graph-component>
    <app-graph-node-selector *ngIf="nodeSelectorEnabled"
      [totalNodes]="graph.nodes.length" 
      [inputNodes]="nodeSelectorNodes"
      (nodeInputChange)="onNodeInputChanged(i, $event)">
    </app-graph-node-selector>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="regenerate(i)">Обновить</button>
  </mat-card-actions>
</mat-card>
