.generate {
  width: 698px;
  display: block;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.graph-card {
  width: 640px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
